# Selección del DataFrame

### He decidido crear un DataFrame sobre las ventas de un hipermercado. 

Mi DataFrame estará compuesto por las siguientes columnas categóricas:
- <b>Categoría:</b> Categoria del producto vendido.
- <b>País:</b> País donde se realizó la venta (sucursal).

Y la columna numérica:
- <b>Precio Unitario:</b> Precio unitario del producto.
- <b>Cantidad:</b> Cantidad comprada por producto.

Esto nos lleva a que el nivel <b>granularidad</b> de mi DataFrame es de ventas realizadas, es decir, cada registro o fila en mi conjunto de datos se refiere a la información de una venta realizada.

# Generación de Datos Aleatorios

<b>Categorías:</b>
- Carnes
- Cuidado personal
- Útiles de oficina
- Electrónicos

<b>Países:</b>
- Honduras
- El Salvador
- USA

<b>Precios y Cantidad:</b>
- Para este caso, se utilizarán valores aleatorios.

### Explicación del siguiente código:
1. Importé las librerías necesarias para todo el ejercicio.
2. Creé las categorías existentes para el DF.
3. Creé los países existentes para el DF.
4. Haciendo uso de Comprensión de listas, creé las listas que contienen los valores de las columnas <b>Precio</b> y <b>Cantidad</b> de manera aleatoria utilizando la librería 'random'.
5. Generando mi DataFrame. Para el caso de las columnas <b>'Categoría'</b> y <b>'País'</b>, utilicé el método <b>'choices()'</b> de <b>'random'</b> para generar una lista de <i>k</i> elementos.
6. Mostrando las primeras 10 filas del DataFrame resultante.

In [65]:
import pandas as pd
import random as r
import matplotlib.pyplot as plt

categories = ['Carnes', 'Cuidado personal', 'Útiles de oficina']
paises = ['Honduras', 'El Salvador', 'USA']
precios = [r.randint(80, 300) for i in range(1000)]
cantidad = [r.randint(1, 11) for i in range(1000)]

df = pd.DataFrame({
    'Categoría': r.choices(categories, k = 1000),
    'País': r.choices(paises, k = 1000),
    'Precio Unitario': precios,
    'Cantidad': cantidad
})

df.head(10)

           Categoría         País  Precio Unitario  Cantidad
0             Carnes  El Salvador              145         3
1             Carnes  El Salvador               81         3
2  Útiles de oficina          USA              136        11
3   Cuidado personal  El Salvador              133         8
4  Útiles de oficina     Honduras              203        10
5  Útiles de oficina     Honduras              216         8
6  Útiles de oficina  El Salvador               80         2
7  Útiles de oficina          USA              182         1
8             Carnes          USA               91         1
9   Cuidado personal     Honduras              244         5

# Resumen Estadístico

### Explicación de los 2 siguientes bloques de código:
Para el caso de las variables númericas o cuantitativas, utilicé el método <b>'describe()'</b> de <b>'pandas'</b> para mostrar un resumen estadístico y del comportamiento de mis datos.

En cuanto a las variables categóricas, hice uso del método <b>'value_counts()'</b> de <b>'pandas'</b> para mostrar el total de ocurrencias (frecuencia) por cada variable. Este método lo apliqué solamente a las columnas de <b>'Categoría'</b> y <b>'País'</b>.

In [66]:
df.describe()

       Precio Unitario     Cantidad
count      1000.000000  1000.000000
mean        191.983000     6.082000
std          63.643737     3.195542
min          80.000000     1.000000
25%         137.000000     3.000000
50%         192.000000     6.000000
75%         250.250000     9.000000
max         300.000000    11.000000

In [67]:
df[['Categoría', 'País']].value_counts()

Categoría          País
Útiles de oficina  Honduras       114
Carnes             El Salvador    113
Cuidado personal   USA            113
Carnes             USA            112
Cuidado personal   Honduras       112
                   El Salvador    111
Útiles de oficina  USA            110
                   El Salvador    108
Carnes             Honduras       107
Name: count, dtype: int64